extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/AdminPage',src='/conference-submission/javascripts/vendor/require.js')

block container
  ul.nav.nav-tabs#admin-tabs
    li.active
      a(href="#users",data-toggle="tab",data-view="usersView") Users
    li
      a(href="#students",data-toggle="tab",data-view="studentsView") Students
    li
      a(href="#sponsors",data-toggle="tab",data-view="sponsorsView") Sponsors
    li
      a(href="#proposals",data-toggle="tab",data-view="proposalsView") Proposals
    li
      a(href="#oral-presentations",data-toggle="tab",data-view="oralsView") Oral 
    li
      a(href="#posters",data-toggle="tab",data-view="postersView") Posters
    li
      a(href="#schedule",data-toggle="tab",data-view="scheduleView") Schedule
    li
      a(href="#art-2d",data-toggle="tab",data-view="art2DView") 2D Art
    li
      a(href="#art-3d",data-toggle="tab",data-view="art3DView") 3D Art
    li
      a(href="#video",data-toggle="tab",data-view="videosView") Video
    li
      a(href="#judges",data-toggle="tab",data-view="judgesView") Judges
    li
      a(href="#emails",data-toggle="tab",data-view="emailsView") Emails
    
      
  .tab-content
    .tab-pane.active#users
    .tab-pane#students
    .tab-pane#sponsors
    .tab-pane#proposals
    .tab-pane#oral-presentations
    .tab-pane#posters
    .tab-pane#schedule
    .tab-pane#art-2d
    .tab-pane#art-3d
    .tab-pane#video
    .tab-pane#judges
    .tab-pane#emails

  .proposal-modal
    

block templates
  script#proposal-row-template(type='text/template')
    td
      table.table.table-bordered.not-accepted
        thead
          tr
            th Acc.
            th Sess.
            th Main Author
            th(colspan="2") Title
            th Presentation Type
        tbody
          tr
            td
              input.accepted-checkbox(type='checkbox')
            td.session <%=session%>
            td.author
              a(href!="mailto:<%=email%>") <%=author%>
            td.title(colspan="2") <%=title%>
            td.type <%=type%>
          tr
            td
              button.btn.delete-proposal
                i.icon-trash
            td
            td.header Sponsor Name
            td.header Sponsor Email
            td.header Sponsor Dept
            td.header Date/Time Submitted
          tr
            td
            td
            td.sponsor-name <%=sponsor_name%>
            td.sponsor-email <%=sponsor_email%>
            td.sponsor-dept <%=sponsor_dept%>
            td.submitted-date <%=date%> at <%=time%>
          tr
            td
            td
            td.header Use Human Subjects
            td.header Use Animal Subjects
            td.header(colspan="2") Other Authors
          tr
            td
            td
            td <% print(use_human_subjects?"Yes":"No") %>
            td <% print(use_animal_subjects?"Yes":"No") %>
            td(colspan="2") <% var authors = other_authors || []; print(_(authors).pluck("name").join(", ")); %>
          tr
            td
            td(colspan="6").header Proposal Text
          tr
            td
            td.proposal-content(colspan="6") <%=content%>
          tr
            td
            td(colspan="6").header Sponsor Statement
          tr
            td
            td(colspan="6") <%=sponsor_statement%>


  script#users-template(type="text/template")
    div.row
      div.span4
        h3 Users
      div.span4.pull-right  total number of users: <%= numUsers %>
    table.user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Role
          td Email
      tbody

  script#user-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=role%>
    td <%=email%>

  script#students-template(type="text/template")
    div.row
      div.span4
        h3 Students
      div.span4.pull-right  total number of users: <%= numUsers %>
    table.user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Major
          td Email
          td Proposals
      tbody

  script#student-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=major%>
    td 
      a(href!="mailto:<%=email%>") <%=email%>
    td
      ul
        <% _(proposals).each(function(p) {print('<li><a href="#" class="showProposal" data-id=' + p.id + '>'+(p.attributes.title?p.attributes.title:"None")+"</a></li>")}); %>

  script#sponsors-template(type="text/template")
    div.row
      div.span4
        h3 Students
      div.span4.pull-right  total number of users: <%= numUsers %>
    table.user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Email
          td Proposals
      tbody

  script#sponsor-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=email%>
    td
      ul
        <% _(proposals).each(function(p) {print('<li><a href="#" class="showProposal" data-id=' + p.id + '>'+(p.attributes.title?p.attributes.title:"None")+"</a></li>")}); %>


  script#proposals-template(type="text/template")
    div.row
      div.span4
        h3 <%= propHeader %>
      div.span4.pull-right  total number: <%= number %>
    table#proposal-table-header.table.table-bordered.proposal-table
      tbody
      

  script#schedule-template(type="text/template")
    h3 Oral Presentation Schedule

    ul.oral-present-col#extra-ops

    table#oral-present-table.table.table-bordered
      tbody
        <% sessionNames = "ABCDEFGHIJKL" %>
        <% for(i=0;i<2;i++) {print("<tr>"); for(j=0;j<6;j++) {print("<td class='header'>Session " + sessionNames.charAt(6*i+j) + "</td>");} print("</tr>");print("<tr>"); for(j=0;j<6;j++) {print("<td class='oral-present-col' id='col" + (6*i+j) +"'></td>");} print("</tr>");}%>

  script#emails-template(type="text/template")
    h3 
      a(href!="mailto:<%=allParticipants%>") All Participants
    p <%=allParticipants%>
    h3
      a(href!="mailto:<%=oralPresenters%>") Oral Participants
    p <%=oralPresenters%>
    h3
      a(href!="mailto:<%=oralSponsors%>") Oral Sponsors
    p <%=oralSponsors%>

    h3
      a(href!="mailto:<%=posterPresenters%>") Poster Participants
    p <%=posterPresenters%>
    h3
      a(href!="mailto:<%=posterSponsors%>") Poster Sponsors
    p <%=posterSponsors%>

    h3
      a(href!="mailto:<%=missingNames%>") Missing Names
    p <%=missingNames%>
    h3
      a(href!="mailto:<%=sponsors%>") Sponsors
    p <%=sponsors%>
    h3
      a(href!="mailto:<%=missing_statements%>") Missing Statements
    p <%=missing_statements%>
    h3
      a(href!="mailto:<%=acceptedPosters%>") Accepted Posters
    p <%=acceptedPosters%>
    h3
      a(href!="mailto:<%=acceptedOrals%>") Accepted Orals
    p <%=acceptedOrals%>
    h3
      a(href!="mailto:<%=judges%>") Judges
    p <%=judges%>


  script#oral-presentation-template(type="text/template")
    li.oral-present(id!='<%=cid%>')
      .op-title <%=title%>
      .op-author <%=author%>   

  script#act-as-user-template(type="text/template")
    a.btn.dropdown-toggle(data-toggle="dropdown",href="#") Act As User
      span.caret
    ul.dropdown-menu
      <% _(users).each(function(user){ print('<li><a class="user-info" href="/conference-submission/admin/' + user.id + '"">' + user.name + '</a></li>')}) %>

  script#proposal-view-modal(type="text/template")
    .modal.hide.fade
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h3 <%=title%>
      .modal-body 
        table.table.table-bordered
          tbody
            tr
              td.header Sess.
              td.header Main Author
              td.header Presentation Type
            tr
              td <%=session%>
              td <%=author%>
              td <%=type %>
            tr
              td.header Sponsor Name
              td.header Sponsor Dept
              td
            tr
              td <%=sponsor_name%>
              td <%=sponsor_dept%>
              td
            tr
              td(colspan="3")
                <%=content %>
      .modal-footer
        a.btn(href="#",data-dismiss="modal") Close

  script#poster-table-template(type="text/template")
    table.poster-table.table
      thead
        tr
          th
          th number
          th Author
          th Title
      tbody

  script#poster-row-template(type="text/template")
    td
      span
        i.icon-resize-vertical
    td <%=attributes.session%>
    td <%=attributes.author%>
    td 
      a.showProposal(href="#",data-id!="<%id%>") <%=attributes.title%>

  script#judges-table-template(type="text/template")
    table.judges-table.table
      thead
        tr
          th
          th Name
          th Email
          th Fields
      tbody

  script#judges-row-template(type="text/template")
    td
      span.btn.delete-judge
        i.icon-trash
    td <%= name %>
    td <%= email %>
    td <%= presentation %> 

