extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/AdminPage',src='/conference-submission/javascripts/vendor/require.js')

block container
  ul.nav.nav-tabs#admin-tabs
    li.active
      a(href="#users",data-toggle="tab",data-view="usersView") Users
    li
      a(href="#proposals",data-toggle="tab",data-view="proposalsView") Proposals
    li
      a(href="#presentations",data-toggle="tab",data-view="presentationsView") Presentations
    li
      a(href="#judges",data-toggle="tab",data-view="judgesView") Judges
    li
      a(href="#judge-schedule",data-toggle="tab",data-view="judgeScheduleView") Judge Schedule
    li
      a(href="#emails",data-toggle="tab",data-view="emailView") Emails
    
      
  .tab-content
    .tab-pane.active#users
      label.radio.inline
        input(type="radio",name="usersview",value="all",checked)
        | View All Users
      label.radio.inline
        input(type="radio",name="usersview",value="students")
        | View Students
      label.radio.inline
        input(type="radio",name="usersview",value="sponsors")
        | View Sponsors
      table.user-table.table.table-bordered
        thead
          tr
            th
            th First Name
            th Last Name
            th Role
            th Email
        tbody
    .tab-pane#proposals
      div.row
        div.span4
          label.radio.inline
            input.sortable(type="radio",name="sort-proposal",value="session",checked)
            | Sort By Session
          label.radio.inline
            input.sortable(type="radio",name="sort-proposal",value="author")
            | Sort By Last Name
        div.span4.pull-right.num-proposals
      table.proposal-table.table.table-bordered
        tbody
    .tab-pane#presentations
      .radio-buttons
        label.radio.inline
          input(type="radio",name="presentationsview",value="orals",checked)
          | View Oral Presentation List
        label.radio.inline
          input(type="radio",name="presentationsview",value="schedule")
          | View Oral Presentation Schedule
        label.radio.inline
          input(type="radio",name="presentationsview",value="posters")
          | View Posters
        label.radio.inline
          input(type="radio",name="presentationsview",value="videos")
          | View Videos
        label.radio.inline
          input(type="radio",name="presentationsview",value="art2d")
          | View 2D Art
        label.radio.inline
          input(type="radio",name="presentationsview",value="art3d")
          | View 3D Art
        label.radio.inline
          input(type="radio",name="presentationsview",value="music")
          | View Music
        label.radio.inline
          input(type="radio",name="presentationsview",value="theatre")
          | View Theatre
      .presentation-content
    .tab-pane#judges
    .tab-pane#judge-schedule
      label.radio.inline
        input(type="radio",name="jsview",value="orals",checked)
        | View Oral Presentations
      label.radio.inline
        input(type="radio",name="jsview",value="posters")
        | View Poster Presentations
      div.orals
        table.table.table-bordered
          thead
            tr
              th Judge
              th Session A
              th Session B  
              th Session C
              th Session D
              th Session E
              th Session F
          tbody
            tr
              td(rowspan="3")
                ul#judge-list-oral
              td.session#A
                ul
              td.session#B
                ul
              td.session#C
                ul
              td.session#D
                ul
              td.session#E
                ul
              td.session#F
                ul
            tr
              td.header Session G
              td.header Session H
              td.header Session I
              td.header Session J
              td.header Session K
              td.header Session L
            tr
              td.session#G
                ul
              td.session#H
                ul
              td.session#I
                ul
              td.session#J
                ul
              td.session#K
                ul
              td.session#L
                ul
      div.posters
        table.table.table-bordered
          thead
            tr
              th All Judges
              th Title/Author
              th Judges
              th Title/Author
              th Judges
              th Title/Author
              th Judges
              th Title/Author
              th Judges
          tbody
            

    .tab-pane#emails


  .proposal-modal
    

block templates
  script#proposal-row-template(type='text/template')
    td
      table.table.table-bordered.not-accepted
        thead
          tr
            th Acc.
            th Sess.
            th Main Author
            th(colspan="2") Title
            th Presentation Type
        tbody
          tr
            td
              input.accepted(type='checkbox')
            td.session
            td.author
            td.title(colspan="2",contenteditable="true")
            td.type
          tr
            td
              button.btn.delete-proposal
                i.icon-trash
            td
            td.header Sponsor Name
            td.header Sponsor Email
            td.header Sponsor Dept
            td.header Date/Time Submitted
          tr
            td
            td
            td.sponsor-name
            td.sponsor-email
            td.sponsor-dept
            td.submitted-date
          tr
            td
            td
            td.header Use Human Subjects
            td.header Use Animal Subjects
            td.header(colspan="2") Other Authors
          tr
            td
            td
            td
              input(type='checkbox').use-human-subjects
            td
              input(type='checkbox').use-animal-subjects
            td.other-authors(colspan="2")
          tr
            td
            td(colspan="6").header Proposal Text
          tr
            td
            td.proposal-content(colspan="6")
          tr
            td
            td(colspan="6").header Sponsor Statement
          tr
            td
            td(colspan="6").sponsor-statment


  script#user-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td.first-name
    td.last-name
    td.role
    td.email

  script#students-template(type="text/template")
    div.row
      div.span4
        h3 Students
      div.span4.pull-right  total number of users: <%= numUsers %>
    table.user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Major
          td Email
          td Proposals
      tbody

  script#student-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=major%>
    td 
      a(href!="mailto:<%=email%>") <%=email%>
    td
      ul
        <% _(proposals).each(function(p) {print('<li><a href="#" class="showProposal" data-id=' + p.id + '>'+(p.attributes.title?p.attributes.title:"None")+"</a></li>")}); %>

  script#sponsors-template(type="text/template")
    div.row
      div.span4
        h3 Students
      div.span4.pull-right  total number of users: <%= numUsers %>
    table.user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Email
          td Proposals
      tbody

  script#sponsor-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=email%>
    td
      ul
        <% _(proposals).each(function(p) {print('<li><a href="#" class="showProposal" data-id=' + p.id + '>'+(p.attributes.title?p.attributes.title:"None")+"</a></li>")}); %>


  script#proposals-template(type="text/template")
    div.row
      div.span4
        h3 <%= propHeader %>
      div.span4.pull-right  total number: <%= number %>
    table#proposal-table-header.table.table-bordered.proposal-table
      tbody
      

  script#schedule-template(type="text/template")
    h3 Oral Presentation Schedule

    ul.oral-present-col#extra-ops

    table#oral-present-table.table.table-bordered
      tbody
        <% sessionNames = "ABCDEFGHIJKL" %>
        <% for(i=0;i<2;i++) {print("<tr>"); for(j=0;j<6;j++) {print("<td class='header'>Session " + sessionNames.charAt(6*i+j) + "</td>");} print("</tr>");print("<tr>"); for(j=0;j<6;j++) {print("<td class='oral-present-col' id='col" + (6*i+j) +"'></td>");} print("</tr>");}%>

  script#emails-template(type="text/template")
    h3 
      a(href!="mailto:<%=allParticipants%>") All Participants
    p <%=allParticipants%>
    h3
      a(href!="mailto:<%=oralPresenters%>") Oral Participants
    p <%=oralPresenters%>
    h3
      a(href!="mailto:<%=oralSponsors%>") Oral Sponsors
    p <%=oralSponsors%>

    h3
      a(href!="mailto:<%=posterPresenters%>") Poster Participants
    p <%=posterPresenters%>
    h3
      a(href!="mailto:<%=posterSponsors%>") Poster Sponsors
    p <%=posterSponsors%>

    h3
      a(href!="mailto:<%=missingNames%>") Missing Names
    p <%=missingNames%>
    h3
      a(href!="mailto:<%=sponsors%>") Sponsors
    p <%=sponsors%>
    h3
      a(href!="mailto:<%=missing_statements%>") Missing Statements
    p <%=missing_statements%>
    h3
      a(href!="mailto:<%=acceptedPosters%>") Accepted Posters
    p <%=acceptedPosters%>
    h3
      a(href!="mailto:<%=acceptedOrals%>") Accepted Orals
    p <%=acceptedOrals%>
    h3
      a(href!="mailto:<%=judges%>") Judges
    p <%=judges%>


  script#oral-presentation-template(type="text/template")
    li.oral-present(id!='<%=cid%>')
      .op-title <%=title%>
      .op-author <%=author%>   

  script#act-as-user-template(type="text/template")
    a.btn.dropdown-toggle(data-toggle="dropdown",href="#") Act As User
      span.caret
    ul.dropdown-menu
      <% _(users).each(function(user){ print('<li><a class="user-info" href="/conference-submission/admin/' + user.id + '"">' + user.name + '</a></li>')}) %>

  script#proposal-view-modal(type="text/template")
    .modal.hide.fade
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h3 <%=title%>
      .modal-body 
        table.table.table-bordered
          tbody
            tr
              td.header Sess.
              td.header Main Author
              td.header Presentation Type
            tr
              td <%=session%>
              td <%=author%>
              td <%=type %>
            tr
              td.header Sponsor Name
              td.header Sponsor Dept
              td
            tr
              td <%=sponsor_name%>
              td <%=sponsor_dept%>
              td
            tr
              td(colspan="3")
                <%=content %>
      .modal-footer
        a.btn(href="#",data-dismiss="modal") Close

  script#presentation-table-template(type="text/template")
    table.table.table-bordered
      thead
        tr
          th
          th number
          th Author
          th Title
      tbody

  script#presentation-row-template(type="text/template")
    td
      <% if(reorder) {%>
      span
        i.icon-resize-vertical
      <% } %>
    td.session
    td.author
    td.title
    td
      button.showDetails.btn Show Details

  script#judges-table-template(type="text/template")
    table.judges-table.table
      thead
        tr
          th
          th Name
          th Email
          th Type
          th Fields
      tbody

  script#judges-row-template(type="text/template")
    td
      span.btn.delete-judge
        i.icon-trash
    td.editable.name(contenteditable="true")
    td.editable.email(contenteditable="true")
    td
      select.type
    td
      select.presentation(multiple="true")
    
  script#judges-schedule-row-template(type="text/template")
    li 
      <%var pres = presentation.join(", "), sess = session.join(", ") %>
      <%var popoverContent = "types: " + pres + "<br>sessions: " + sess; %>
      <%if (removable) { %>
      <%  popoverContent += "<br><span class='btn remove-judge' data-judgeid='" + cid + "' + data-session='" + sessionName + "'>Remove</span>";} %>
      <% if (session.length == 0) {%>
      span.judge-popover.no-sessions(data-content!="<%=popoverContent%>",data-judgeid!="<%=cid%>",data-html="true") <%=name %>
      <%} else {%>
      span.judge-popover(data-content!="<%=popoverContent%>",data-judgeid!="<%=cid%>",data-html="true") <%=name %>
      <% } %>

  script#judges-schedule-poster-row(type="text/template")
      td <% print("<b>" + session + "</b>&nbsp;<em>" + title + "</em>,  "  + author + "<br><span style='color:red'>" + sponsor_name + "</span>") %>
      td.poster-judge(data-session!="<%=session%>")
        ul
  script(type="text/javascript")
    define('config', function() {
      return {
        users: !{JSON.stringify(users)},
        proposals: !{JSON.stringify(proposals)},
        judges: !{JSON.stringify(judges)}
      };
    });

