extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/AdminPage',src='/conference-submission/javascripts/vendor/require.js')

block container
  ul.nav.nav-tabs#admin-tabs
    li.active
      a(href="#users",data-toggle="tab",data-view="usersView") Users
    li
      a(href="#proposals",data-toggle="tab",data-view="proposalsView") Proposals
    li
      a(href="#oral-presentations",data-toggle="tab",data-view="oralsView") Oral 
    li
      a(href="#posters",data-toggle="tab",data-view="postersView") Posters
    li
      a(href="#schedule",data-toggle="tab",data-view="scheduleView") Schedule
    li
      a(href="#art-2d",data-toggle="tab",data-view="art2DView") 2D Art
    li
      a(href="#art-3d",data-toggle="tab",data-view="art3DView") 3D Art
    li
      a(href="#video",data-toggle="tab",data-view="videosView") Video
    li
      a(href="#emails",data-toggle="tab",data-view="emailsView") Emails
    
      
  .tab-content
    .tab-pane.active#users
    .tab-pane#proposals
    .tab-pane#oral-presentations
    .tab-pane#posters
    .tab-pane#schedule
    .tab-pane#art-2d
    .tab-pane#art-3d
    .tab-pane#video
    .tab-pane#emails
    

block templates
  script#user-row-template(type='text/template')
    td
      .btn-group
        button.btn.delete-user
          i.icon-trash
    td <%=first_name%>
    td <%=last_name%>
    td <%=major%>
    td <%=role%>
      td <%=email%>

  script#proposal-row-template(type='text/template')
    td
      table.table.table-bordered
        thead
          tr
            th Acc.
            th Sess.
            th Main Author
            th(colspan="2") Title
            th Presentation Type
        tbody
          tr.not-accepted
            td
              input(type='checkbox',val='<%=accepted%>')
            td.session <%=session%>
            td.author <%=author%>
            td.title(colspan="2") <%=title%>
            td.type <%=type%>
          tr
            td
              button.btn.delete-proposal
                i.icon-trash
            td
            td.header Sponsor Name
            td.header Sponsor Email
            td.header Sponsor Dept
            td.header Date/Time Submitted
          tr
            td
            td
            td.sponsor-name <%=sponsor_name%>
            td.sponsor-email <%=sponsor_email%>
            td.sponsor-dept <%=sponsor_dept%>
            td.submitted-date <%=date%> at <%=time%>
          tr
            td
            td(colspan="6").header Proposal Text
          tr
            td
            td(colspan="6") <%=content%>
          tr
            td
            td(colspan="6").header Sponsor Statement
          tr
            td
            td(colspan="6") <%=sponsor_statement%>


  script#users-template(type="text/template")
    div.row
      div.span4
        h3 Users
      div.span4.pull-right  total number of users: <%= numUsers %>
    table#user-table.table
      thead
        tr
          td
          td First Name
          td Last Name
          td Major
          td Role
          td Email
      tbody
  script#proposals-template(type="text/template")
    div.row
      div.span4
        h3 <%= propHeader %>
      div.span4.pull-right  total number: <%= number %>
    table#proposal-table-header.table.table-bordered.proposal-table
      tbody
      

  script#schedule-template(type="text/template")
    h3 Oral Presentation Schedule

    ul.oral-present-col#extra-ops

    table#oral-present-table.table.table-bordered
      thead
        tr
      tbody
        tr
  script#emails-template(type="text/template")
    h3 
      a(href!="mailto:<%=allParticipants%>") All Participants
    p <%=allParticipants%>
    h3
      a(href!="mailto:<%=oralPresenters%>") Oral Participants
    p <%=oralPresenters%>
    h3
      a(href!="mailto:<%=posterPresenters%>") Poster Participants
    p <%=posterPresenters%>

  script#oral-presentation-template(type="text/template")
    li.oral-present(id!='<%=cid%>')
      .title <%=title%>
      .author <%=author%>   

  script#act-as-user-template(type="text/template")
    a.btn.dropdown-toggle(data-toggle="dropdown",href="#") Act As User
      span.caret
    ul.dropdown-menu
      <% _(users).each(function(user){ print('<li><a class="user-info" href="/conference-submission/admin/' + user.id + '"">' + user.name + '</a></li>')}) %>
