extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/AdminPage',src='/conference-submission/javascripts/vendor/require.js')

block container
  ul.nav.nav-tabs#admin-tabs
    li.active
      a(href="#users") Users
    li
      a(href="#proposals") Proposals
    li
      a(href="#oral-presentations") Oral 
    li
      a(href="#poster-presentations") Posters
    li
      a(href="#schedule") Schedule
    li
      a(href="#art-2d") 2D Art
    li
      a(href="#art-3d") 3D Art
    li
      a(href="#video") Video
    
      
  .tab-content
    .tab-pane.active#users
      h3 Users
      table#user-table.table
        thead
          tr
            td First Name
            td Last Name
            td Major
            td Role
            td Email
        tbody
    .tab-pane#proposals
      h3 Proposals
      table#proposal-table-header.table.table-bordered
        include proposal-table-header.jade
      ul#proposal-table

          
    .tab-pane#oral-presentations
      h3 Oral Presentations
      table#oral-table-header.table.table-bordered
        include proposal-table-header.jade
      ul#oral-table
          

    .tab-pane#poster-presentations
      h3 Poster Presentations
      table#poster-table-header.table.table-bordered
        include proposal-table-header.jade
      ul#poster-table
          
    .tab-pane#schedule
      h3 Oral Presentation Schedule
      table#oral-present-table.table.table-bordered
        thead
          tr
        tbody
          tr

    .tab-pane#art-2d
      h3 2D Art
    .tab-pane#art-3d
      h3 3D Art
    .tab-pane#video
      h3 Videos
    

block templates
  script#user-row-template(type='text/template')
    tr
      td <%=first_name%>
      td <%=last_name%>
      td <%=major%>
      td <%=role%>
      td <%=email%>

  script#proposal-row-template(type='text/template')
    li.proposal
      table.table.table-bordered
        tbody
          tr.not-accepted
            td
              input(type='checkbox',val='<%=accepted%>')
            td.session <%=session%>
            td.author <%=author%>
            td.title <%=title%>
            td.sponsor-name <%=sponsor_name%>
            td.sponsor-email <%=sponsor_email%>
            td.sponsor-dept <%=sponsor_dept%>
            td.type <%=type%>
          tr
            td
            td(colspan="7") <%=content%>
          tr
            td
            td(colspan="7") <%=sponsor_statement%>

  script#oral-presentation-template(type="text/template")
    li.oral-present
      .title <%=title%>
      .author <%=author%>        

            