extends ../layout

block script
  script(type='text/javascript',data-main='/#{top_dir}/javascripts/apps/LoginPage',src='/#{top_dir}/javascripts/vendor/require.js')

block container
  p 
    | email has been sent to #{email}
    | Please check your email to reset your password. 

block templates
  script#help-text(type='text/template')
    p
      | Help text!!

