<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <title>FSU Conference Page</title>

  <link rel="stylesheet" type="text/css" href="[%top_dir%]/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="[%top_dir%]/javascripts/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="[%top_dir%]/css/style.css">

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FSU Conference Submission</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     [% IF user %]
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text" id="message-pane"></p></li>
        <li><p class="navbar-text" id="signed-in">Welcome [% user.first_name%] [%user.last_name%]</p></li>
        <li><a href="[% top_dir %]/logout">Logout</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change Role<span class="caret"></span></a>
          <ul class="dropdown-menu" id="role-dropdown">
          </ul>
        </li>
      </ul>
      [% END %]
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   [% content %]
   <div id="main-modal"></div>
</body>
[% IF header_script %]
  [% INCLUDE $header_script %]
[% END %]
</html>
