extends layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/FacultyPage',src='/conference-submission/javascripts/vendor/require.js')

block templates
  include users/info.jade
  script(type='text/template',id='faculty-tabs-template')
    input(type='hidden',id='user-id',value=user.id)
    include tabs.jade


  script(type='text/template',id="proposal-view")
    div.row
      span.span6 
        h4 Proposal Information
      span.span3
        button#save-statement.btn Save the Statement
    table.table.table-bordered
      tr
        td Project Title
        td#title(colspan="3")
      tr
        td Project Author
        td#author(colspan="3")
      tr
        td Type of Presentation
        td#pres-type
      tr
        td Other Equipment needed 
        td#other-equip(colspan="2")
      tr
        td Proposal
        td#proposal-text(colspan=3)
      tr
        td Sponsor Statement
        td(colspan=3)
          textarea#sponsor-statement(rows=10)
        
  script#add-author-template(type="text/template")
    tr.add-author-row
      td Author Name
      td <%=name%>
      td Author Email
      td <%=email%>

  script(type='text/template',id='help-text')
    p
      | This page has a set of tabs (Personal Information and Propoals.)  You can edit your personal information except your
      | email address, and review proposals from your students.  To close this help box, click the X in the upper right 
      | corner.  
    p 
      | To edit your personal information, click the "Edit Info" button, change the information and then click "Save Info".
    p 
      | Proposals from your students are listed in separate tabs.  If the Proposal is in red, then you need to review it. To 
      | submit a statement for a proposal, click on the tab (for example Proposal #1) then type in your statement in Sponsor Statement.
      |  Click "Save the Statement" at the top of the page.  
