extends layout

block script
  script(type="text/javascript",src="/#{top_dir}/javascripts/apps/require-config.js")
  script(type='text/javascript',data-main='/#{top_dir}/javascripts/apps/FacultyPage',src='/#{top_dir}/javascripts/vendor/require.js')

block templates
  include users/info.jade
  script(type='text/template',id='faculty-tabs-template')
    input(type='hidden',id='user-id',value=user.id)
    include tabs.jade
    .feedback-modal


  script(type='text/template',id="proposal-view")
    div.row
      span.span6 
        h4 Proposal Information
      span.span3
        button#save-statement.btn Save the Statement
    table.table.table-bordered
      tr.feedback-row
      tr
        td Project Title
        td.title(colspan="3")
      tr
        td Project Author
        td.author-name(colspan="3")
      tr
        td Type of Presentation
        td.presentation-type
      tr
        td Other Equipment needed 
        td.other-equipment(colspan="2")
      tr
        td Proposal
        td.proposal-text(colspan=3)
      tr
        td Sponsor Statement
        td(colspan=3)
          textarea.sponsor-statement(rows=10)
        
  script#add-author-template(type="text/template")
    tr.add-author-row
      td Author Name
      td <%=name%>
      td Author Email
      td <%=email%>

  script(type='text/template',id='help-text')
    p
      | This page has a set of tabs (Personal Information and Propoals.)  You can edit your personal information except your
      | email address, and review proposals from your students.  To close this help box, click the X in the upper right 
      | corner.  
    p 
      | To edit your personal information, click the "Edit Info" button, change the information and then click "Save Info".
    p 
      | Proposals from your students are listed in separate tabs.  If the Proposal is in red, then you need to review it. To 
      | submit a statement for a proposal, click on the tab (for example Proposal #1) then type in your statement in Sponsor Statement.
      |  Click "Save the Statement" at the top of the page.  


  script#feedback-template(type="text/template")
    .modal.hide.fade
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h3 Feedback on Presentation
      .modal-body 
        table.table.table-bordered
          tr
            td(colspan="2").span8 
              | Visual Design: Professional appearance of poster, appropriate amount of text, 
              | legible text, appropriate use of figures, logical presentation of project
            td.span1.visual-design
          tr
            td(colspan="2").span8
              | Verbal Presentation: Description of project logical and consise, audible and clear
              | presentation, liveliness and professional style
            td.verbal-presentation
          tr
            td(colspan="2") Organization And Logic: Problem/objective clearly stated, methods and results explained.
            td.organization-and-logic
          tr
            td(colspan="2") Appropriate Knowledge of Field: Demonstrated understanding of probject and boarder context
            td.knowledge
          tr
            td(colspan="2") Clear Explanations/ability to answer questions
            td.explanations
          tr
            td(colspan="2") 
              | Overall Impression: Impression compared to other posters judges/additional comments useful for judging
            td.overall
          tr
            td
            td(style="text-align: right") Total Score
            td.total-score
          tr
            td.span2 Strength of Poster
            td(colspan="2").span8.strength
          tr
            td.span2 Suggestions for Improvement
            td(colspan="2").span8.improvement
          

      .modal-footer
        a.btn(href="#",data-dismiss="modal") Close
