doctype html
html
  head
    title Undergraduate Conference Submission
    link(href='/conference-submission/stylesheets/bootstrap.min.css',rel='stylesheet',media="screen")
    link(href='/conference-submission/stylesheets/style.css',rel='stylesheet')
    block script
  body
    #container
      block container

    
