!!!
html
  head
    title Undergraduate Conference Submission
    link(href='/stylesheets/bootstrap.min.css',rel='stylesheet',media="screen")
    link(href='/stylesheets/style.css',rel='stylesheet')
    block script
  body
    div.container-fluid
      div.navbar
        div.navbar-inner
          a.brand(href="#") Fitchburg State Undergraduate Conference Proposals
          span.navbar-text.pull-right.span5
            - if (typeof(user)!=="undefined"){
              span.span2 Welcome #{user.first_name}   
            -}
              
            a.btn.span1#logout Log Out
            a.btn.span1#help-link Help
      #container
        block container
    
    block templates

    
