extends layout

block script
  script(type="text/javascript",src="/conference-submission/javascripts/apps/require-config.js").
  script(type="text/javascript").
    require.config = { "/conference-submission/javascripts/apps/StudentPage.js": {
      user: !{JSON.stringify(user)},
      proposals: !{JSON.stringify(proposals)}
      }
    };

  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/StudentPage.js',src='/conference-submission/javascripts/bower_components/requirejs/require.js').


block templates
  include users/info.jade
  script(type='text/template',id='student-tabs-template')
    input(type='hidden',id='user-id',value=user.id)
    include tabs.jade
    .feedback-modal

  script(type='text/template',id="proposal-view")
    .panel-group#proposal-accordian
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse',data-parent='proposal-accordian',href='#proposal-collapse') Proposal
        #proposal-collapse.panel-collapse.collapse.in
          .panel-body
            table.table.table-bordered
              tr.feedback-row
              tr
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Project Title
                    span.col-md-9 
                      input.title.form-control
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Primary Author
                    span.col-md-9 
                      input.author-name.form-control(disabled)
              tr
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Author Email
                    span.col-md-9 
                      input.author-email.form-control(disabled)
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Other Authors
                    span.col-md-7 
                      input.other-authors.form-control(disabled)
                    span.col-md-2
                      button.btn.btn-default.add-author-button Add an Author
              tr
                td.form-horizontal
                  .form-group
                    label.col-md-4.control-label Presentation Type
                    span.col-md-6 
                      select.presentation-type.form-control
                        option 
                        option Poster Presentation
                        option Oral Presentation
                        option Music
                        option Art (2D)
                        option Art (3D)
                        option Theatre
                        option Video
                        option Creative Writing    
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Other Equipment Needed
                    span.col-md-1
                      button.btn.btn-default.btn-sm#other-equip-help ?  
                    span.col-md-8
                      input.other-equip.form-control
              tr
                td.form-horizontal
                  .form-group
                    label.col-md-3.control-label Sponsor Email
                    span.col-md-9 
                      input.sponsor-email.form-control
                td.form-horizontal
                  .form-group
                    span.col-md-6
                      label.control-label
                        input.human-subjects(type='checkbox')
                        | My Research involves Human Subjects        
                    span.col-md-6
                      label.control-label
                        input.animal-subjects(type='checkbox')
                        | My Research involves Animal Subjects
              tr
                td(colspan=2)
                  label.control-label Proposal Text
                  textarea.proposal-text.form-control(rows=10)
              tr
                td(colspan=3)
                  button.btn.btn-default.submit-proposal-button Submit Proposal
          
  script(type="text/template",id='add-author-template')
    td Author Name
    td
      input.name(data-field='author-name',value!="<%=name%>")
    td Author Email
    td
      input.email(data-field='author-email',value!="<%=email%>")
    td
      button.delete-author.btn.btn-default Delete Author
 
  script(type='text/template',id='new-proposal-template')
    .tab-pane
      p Creating a new Proposal.&nbsp;&nbsp;
        img(src='/images/ajax-loader-small.gif')
  script#other-equip-help-text(type="text/template")
     p
       | If you need additional equipment, please list it here.  All oral presentations will have hookups for 
       | a projector, but you may need an adapter.  If you have a poster presentation and need a power outlet
       | please list it here.  Anything else, please list it.
  script(type='text/template',id='help-text')
    p
      | This page has a set of tabs (Personal Information and Propoals.)  You can edit your personal information except your
      | email address, create new proposals and edit existing ones.  To close this help box, click the X in the upper right 
      | corner.  
    p 
      | To edit your personal information, click the "Edit Info" button, change the information and then click "Save Info".
    p 
      | To create a new proposal for the Conference, click the "Create a New Proposal" button.  A new tab for the page opens
      | and you can include all of the information.  Make sure that you include information for all fields.  If there are more 
      | than one student on a project, click the "Add Author" button to add the student and the email address. 
    p 
      | To edit an existing proposal, select the desired proposal then click the "Edit Proposal" button.  change the information then 
      | click "Save the Proposal".


  script#feedback-template(type="text/template")
    .modal.hide.fade
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h3 Feedback on Presentation
      .modal-body 
        table.table.table-bordered
          tr
            td(colspan="2").span8 
              | Visual Design: Professional appearance of poster, appropriate amount of text, 
              | legible text, appropriate use of figures, logical presentation of project
            td.span1.visual-design
          tr
            td(colspan="2").span8
              | Verbal Presentation: Description of project logical and consise, audible and clear
              | presentation, liveliness and professional style
            td.verbal-presentation
          tr
            td(colspan="2") Organization And Logic: Problem/objective clearly stated, methods and results explained.
            td.organization-and-logic
          tr
            td(colspan="2") Appropriate Knowledge of Field: Demonstrated understanding of probject and boarder context
            td.knowledge
          tr
            td(colspan="2") Clear Explanations/ability to answer questions
            td.explanations
          tr
            td(colspan="2") 
              | Overall Impression: Impression compared to other posters judges/additional comments useful for judging
            td.overall
          tr
            td
            td(style="text-align: right") Total Score
            td.total-score
          tr
            td.span2 Strength of Poster
            td(colspan="2").span8.strength
          tr
            td.span2 Suggestions for Improvement
            td(colspan="2").span8.improvement
          

      .modal-footer
        a.btn.btn-default(href="#",data-dismiss="modal") Close

