extends layout

block container
  h2 Hello #{first_name}

  p
    | Welcome to the FSU Undergraduate Conference Submission Webpage.  
    | Here you will be able to submit and edit proposals for the Conference. 
    | You will need a faculty sponsor for each proposal that you submit and you should have talked about your proposal with your
    | sponsor.  Make sure that you have your sponsor's correct FSU email before submitting.  
  a.btn.btn-default(href="/conference-submission/student") Continue