extends layout

block container
  h2 Hello #{user.first_name}

  if user.role[0]=="student"
    p
      | Welcome to the FSU Undergraduate Conference Submission Webpage.  
      | Here you will be able to submit and edit proposals for the Conference. 
      | You will need a faculty sponsor for each proposal that you submit and you should have talked about your proposal with your
      | sponsor.  Make sure that you have your sponsor's correct FSU email address before submitting.  
    a.btn.btn-default(href="/#{top_dir}/student") Continue
  else
    p
      | Thank you for your help in the FSU Undergraduate Conference in being a sponsor for a presentation or
      | a judge during the conference. Please select your role(s) below and hit 
      | Continue.
    form(method='post', action='/#{top_dir}/user')
      .form-horiztonal
        .form-group
          label.checkbox-inline
            input#sponsor(type="checkbox",name="sponsor") 
            | Sponsor
          label.checkbox-inline
            input#judge(type="checkbox",name="judge") 
            |   Judge
        .form-group
          button.btn.btn-default(type='submit') Continue
