body {
  padding: 70px 20px 0px 20px;
}

.review-needed {color: red;}

a {
  color: #00B7FF;
}

textarea { width: 100%;}
#title {width: 100%;}

label:hover {cursor: pointer}


.strong {font-weight: bold;}

.proposal {list-style: none}

/* change the size of the popover */

.popover {width: 400px;}

.srv-value {width: 100%; height: 2ex; display: block;}

#oral-present-table {width: 500px; height: 520px; border: 1px gray solid;}
.oral-present-col {list-style-type: none; width: 130px; height: 250px;}
.oral-present { border: 1px solid black; width: 120px; height: 60px; float: left; overflow: hidden;}

.ui-state-highlight { border: 1px dashed black; width: 120px; height: 100px; float: left; background-color: lightgray;}

.ui-session-highlight {background-color: pink}

#extra-ops {height: auto;}

#judge-list-oral, #judge-list-poster {list-style: none}

.no-sessions {color: red;}

.judge-popover {cursor: pointer;}

.title {font: italic;}

.header {font-weight: bold}

.op-author {font-style: italic;}

.op-prop {width: 200px;}

.not-accepted {background-color: pink;}

.error {background-color: pink;}

.feedback-cell {display: none; background-color: lightgray}

.no-bullets {list-style: none;}

#short-message {padding-top: 4px; padding-bottom: 4px; margin-top: 5px; line-height: 16px; display: none;}

#message-pane {
        position: absolute; 
        width: 600px; 
        height:        300px; 
        top: 50px; 
        right: 5px;
        z-index: 100;
        display: none;
        opacity: 0.92;
        background-color: white;
        }