body {
  padding: 0px 30px 30px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.review-needed {color: red;}

a {
  color: #00B7FF;
}

textarea { width: 100%;}
#title {width: 100%;}

td {padding: 5px;}

label:hover {cursor: pointer};

