<p>Dear <%=name%>,</p>

<p>Thank you for agreeing to help out with the judging in the Fitchburg State University Undergraduate 
Conference on Research and Creative Practice.  
</p>

<p>You have agreed to judging the following fields:<%=: presentation | join %></p>

<p>You will be contacted soon for information about what and how to perform the judging.  </p>



<p>Thanks Again,<br>
The Undergraduate Conference Organizing Committee.</p>
