extends layout

block container
  h2 Log In
  p
    | Use your falconkey and password to login onto to the website. 
  if msg  
    .alert.alert-danger #{msg}
  form.users#login(method='post', action='/#{top_dir}/login')
    .form-group
      label Falconkey
        input.form-control(type='text',name='user[falconkey]', value=user.falconkey || '')
    .form-group
      label Password
        input.form-control(type='password',name='user[password]')
    .form-group
      button.btn.btn-default(type='submit') Log In

block templates
  script#help-text(type='text/template')
    p
      | Help text!!