extends layout

block container
  h2 Judges

  table.table.table-bordered
    thead
      tr
        th Name
        th Poster Number (or Room/Time)
    tbody
      each judge in judges
        tr
          td #{judge.name}
          td #{judge.sessions}
      



  