extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/PasswordChange',src='/conference-submission/javascripts/vendor/require.js')

block container
  h3 Reset your Password
  p 
    | Enter your email address, temporary password, then enter a new password and verify
  table
    tr
      td Email:
      td
        input#email(name='email')
    tr
      td Temporary Password:
      td
        input#tmp-pass(name='tmp-pass')
    tr
      td New Password:
      td 
        input#password(name='password',type='password')
    tr
      td verify
      td
        input#verify(name='verify',type='password')
    tr
      td
      td
        button#save-password.btn Save Password

block templates
  script#help-text(type='text/template')
    p
      | Help text!!

