extends ../layout

block script
  script(type='text/javascript',data-main='/conference-submission/javascripts/apps/LoginPage',src='/conference-submission/javascripts/vendor/require.js')

block container
  h2 Log In
  p
    a.button(href='/conference-submission/users/new') Create an account &rarr;
  p Enter your email below and you will receive an email to reset your password. 
  table
    tr
      td
        label Email:
      td
        input#email_reset(name="email_reset")
      td
        button#reset-password.btn Reset my Password
  form.users#reset-form(method='post', action='/conference-submission/sessions/password-sent')
    input#email(name="email",type='hidden')
block templates
  script#help-text(type='text/template')
    p
      | Help text!!

