script(type='text/template',id='user-view')
  .row
    .col-md-4
      table.table.table-bordered
        tbody
          tr
            td First Name: 
            td.first-name
          tr
            td Last Name:
            td.last-name
              input#last-name(data-field='last_name')
          tr.student-major
            td Major:
            td
              select.major(disabled='disabled')
          tr
            td Email: 
            td.email
          tr.submit-proposal-row
            td
            td
              button.btn.btn-default#submit-proposal Create a New Proposal
              
        

   

