script(type='text/template',id='user-view')
  .row
    table.table.table-bordered
      tbody
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 First Name:
                .col-md-8
                  p.form-control-static.first-name
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 Last Name:
                .col-md-8
                  p.form-control-static.last-name
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 Major:
                .col-md-4
                  select.major.form-control
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 Email:
                .col-md-8
                  p.form-control-static.email
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 Year of Graduation:
                .col-md-6
                  input.form-control-static.grad-year
        tr
          td
            .form-horizontal
              .form-group
                label.control-label.col-md-2 I Have Presented Before
                .col-md-8
                  input(type='checkbox').presented-before
        - if(moment().isBefore(moment('04/28/2016 5:00pm','MM/DD/YYYY hh:mmA'))){
          tr.submit-proposal-row
            table 
              tr
                td
                  button.btn.btn-default#update-info-btn Update My Information
                td
                  button.btn.btn-default#submit-proposal Create a New Proposal
        -} else {
          tr
            td 
             | The conference submission is closed.  You may still edit proposals you have already submitted. 
        -}
        

   

