extends ../layout

block container
  p 
  | You have been sent an email indicating that you have
  | applied to be a judge in the FSU Undergraduate Conference.  You 
  | will receive further emails about what to do for judging on the day
  | of the conference.  
  p  Thanks for your help in the Conference.
